#map-container {
    height: 100vh;
    width: auto;
}
.mapClass {
  width: 100%;
  position: absolute; top:0; bottom:0;
}
body{
    margin: 0;
    padding: 0;
}
.menu{
    position: relative; 
}
.geocoder {
    position: absolute;
    z-index:1;
    width:100%;
    top:10px;
    left: -28px;
} 
.mapboxgl-ctrl-geocoder { min-width:50%;}

.geocoder-dropdown-item{
    padding: 5px
}
.geocoder-dropdown-icon{
    margin-right: 10px;
    margin-left: 10px;
}
.geocoder-dropdown-text{
    color: #5a3fc0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
